@using MVCSportStore.ViewModels;
@model ProductModel;
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    @foreach (var p in Model.Products)
    {
        <div>
            <h3>@p.Name</h3>
            @p.Description
            <h4>
                @p.ProductPrice.ToString("c")
            </h4>
        </div>
    }
</div>
<br /> *@
<div>
    @foreach (var p in Model.Products)
    {
        <partial name="ProductSummary" model="p"></partial>
    }
</div>
<br />
<div class="row">
    @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
    {
        <span style="float:left;width:50px">
            <a class="btn border border-secondary m-1"
               asp-controller="Home" asp-action="Index" asp-route-id="@i">@i</a>
        </span>
    }
</div>
<br />
<page-link paging-info="@Model.PagingInfo"></page-link>